PHOENIX_API_KEY="YOUR_KEY_HERE"
HG_ENDPOINT="YOUR_ENDPOINT"
OPENROUTER_API_KEY="YOUR_OPENROUTER_API_KEY"
INTERNAL_API_KEY="YOUR_INTERNAL_API_KEY"
# BACKEND_URL="YOUR_BACKEND_URL" #optional, only needed if running frontend locally with a deployed backend